---
layout: page
title: About
permalink: /about/
sidebar_link: true
---


<p>We are team of experienced Ruby on Rails Developers. In this blog, we share our wisdom and experiences on topics like</p>

<span class="badge">Ruby</span><span class="badge">Ruby on Rails</span>
<br>
<span class="badge">Javascript</span><span class="badge">Stimulus</span><span class="badge">CSS</span>
<br>
<span class="badge">Docker</span><span class="badge">Kubernetes</span><span class="badge">CI/CD</span>
<br>
<span class="badge">QA</span><span class="badge">Tests</span>
<br>
<span class="badge">Life</span><span class="badge">the Universe</span><span class="badge">Everything</span>

<hr>
<h2>The Team</h2>

<div class="bio">
  <image src="../public/images/sandro_thumb.jpg"/>
  <div class="info">
    <h4>Sandro Duarte</h4>
    Been with Rails since the very beginning, when it wasn't cool yet. Then it became cool and hasn't left ever since.
    Did some open source Ruby stuff, like <a href="https://github.com/sandrods/odf-report" target="github">odf-report</a>.
    Avid supporter of the <em>the best code is no code</em> principle.
    Has 2 cats and 2 beautiful boys.
    <p style="text-align: right;">
      <a href="https://www.github.com/sandrods">{% include svg/github.svg %}</a>
    </p>
  </div>
</div>

<div class="bio">
  <image src="../public/images/mauricio.jpg"/>
  <div class="info">
    <h4>Mauricio Menegaz</h4>
    Programming computers since the time of the dial-up internet connection, in languages like C, Java, and even ABAP 😵‍💫.
    Since 2013, working with Ruby on Rails and Javascript.
    Has been in startups, medium and large companies.
    Loves writing clean code and learning new skills.
    Believes that a strong knowledge of computer science fundamentals is the key to understanding new technologies
    and deciding which tool is best fit for the job.
    <p style="text-align: right;">
      <a href="https://www.github.com/mauriciomenegaz">{% include svg/github.svg %}</a>
    </p>
  </div>
</div>
