{% if page.comments != false %}

  <section class="comments">
    <h2>Comments</h2>
    <p>If you have any questions or feedback regarding this post, please leave your comment below.</p>
    
    {% for comment in site.data.comments[page.slug] %}
      <div class="comment__author">
        {{- comment[1].name | strip_html }}
        <span class="comment__date">
          - {{ comment[1].date | date:"%d/%m/%Y %H:%M" }}
        </span>
      </div>
      <div class="message comment__body">
        {{ comment[1].message | strip_html | markdownify }}
      </div>
    {% endfor %}

    <form method="POST" action="https://cr-staticman.herokuapp.com/v3/entry/github/CoolRequest/coolrequest.github.io/master/comments">
      <input name="options[redirect]" type="hidden" value="https://{{ site.url }}">
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">

      <label>Name</label>
      <input name="fields[name]" type="text">

      <label>E-mail</label>
      <input name="fields[email]" type="email">

      <label>Message</label>
      <textarea name="fields[message]" rows=10></textarea>

      <button type="submit">Go!</button>
    </form>

  </section>
{% endif %}
